.backgroundImageContainer {
  position: relative;
  width: 100%;
}

.backgroundImage {
  width: 100vw;
  height: 45vw;
}

.buttonContainer {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}

h2 {
  color: #84746b;
  display: flex;
  justify-content: center;
}
.separator {
  height: 2px;
  background-color: #413934;
  width: 30em;
}

p {
  color: #413934;
}

.btn-enSavoirPlus {
  background-color: #413934;
  color: #fbefe2;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.btn-enSavoirPlus:hover {
  background-color: #fbefe2;
  color: #413934;
  border: 1px solid #413934;
}
