.carousel {
  width: 100%; // Ensure the carousel takes full width
  height: 100%; // Set the carousel height to 500px
  margin: 0 auto; // Center the carousel
  overflow: hidden; // Hide any overflow content
 position: relative;
 z-index: 0;


  .carousel-inner{
    background-color: black;
  }
  .carousel-item {
    height: auto; // Make sure the carousel item takes the full height of the carousel
    width: 60%;
    margin-left: 20%;


    .carousel-item.active{
      transition: transform 2.6s ease-in-out;
    }

    img {
      object-fit: contain; // Ensure images cover the carousel area
      height: 100%; // Make sure the image takes the full height of the carousel item
      width: 100%; // Ensure the image takes the full width of the carousel item
    }
  }
}
